main{
    .title{
        text-align: center;
        max-width: 475px;
        @media (max-width:956px) {
           margin-top: 20px;     
        }
        h1{
            font-size: 1.6rem;
            font-weight: 100;
            color: hsl(234, 12%, 34%);
        }
        h2{
            margin-top: 5px;
            font-size: 1.7rem;
            font-weight: 900;
            color:hsl(234, 12%, 34%) ;    
        }
        p{
            margin-top: 20px;
            color:  hsl(229, 6%, 66%);
            @media (max-width:768px) {
                max-width: 300px;
                
            }
        }
        
    }
    .card{
        margin-top: 30px;
        @media (max-width:956px) {
            flex-direction: column;
            
        }
        &__first{
            border-top:4px solid hsl(180, 62%, 55%);
            
        }
        &__middle{
            
            &__one{
                border-top:4px solid hsl(0, 78%, 62%) ;
            }
            &__two{
                border-top:4px solid  hsl(44, 97%, 64%) ;
                margin-top: 20px;

            }

        }
        &__last{
            border-top:4px solid   hsl(212, 86%, 64%);
        }
    }
}